@import "tailwindcss";

@theme {
  /* Use --font-* to define new font families */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;

  --font-display: "Oswald", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-monoton: "Monoton", ui-sans-sarif;
}

@font-face {
  font-family: "Optima"; 
  src: url("./assets/fonts/optima.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "CustomGeorgia"; /* 取個不同名字避免衝突，或直接用 Georgia */
  src: url("./assets/fonts/georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
